<h1 class="titulo-glendy">Glendy</h1>
<div class="carrusel">
    <app-carrusel></app-carrusel>
</div>
<p class="informacion">Glendy está basado en el método de Glenn Doman e implementa la realidad aumentada por lo que combina material físico como tarjetas y juegos tradicionales con material virtual como audios y dibujos en tercera dimensión.
</p>
<h2 class="titulo-informacion">Glenn Doman</h2>
<img src="assets/imagenes/glenn.png">
<p class="informacion">Glenn Doman propone que se enseñen a leer las palabras completas y no por silabas como normalmente se hace, ya que una silaba no se puede asociar con un objeto o un significado mientras que una palabra sí.
</p>
<h2 class="titulo-informacion">Funcionamiento</h2>
<p class="informacion">Consta de tres niveles de dificultad para que el niño aprenda y comprenda lo que lee, en el primer nivel se encuentran tarjetas agrupadas por campos semánticos(familia, colores,  animales, verduras, etc) con las cuáles se aprende a leer la palabra completa, en el segundo se relacionan las palabras aprendidas en el nivel anterior por lo que las tarjetas contienen oraciones, el último nivel tiene cuentos cortos de 4 o 5 oraciones para que el niño ponga en práctica la comprensión lectora, además cuenta con una sección de post cuento donde el niño responde preguntas relacionadas con los cuentos para corroborar que comprendió lo que leyó.
</p>