<h1 class="titulo-informacion">MISIÓN</h1>
<p class = "informacion">Ofrecer recursos didácticos con ventaja competitiva apoyados en la tecnología a través de la realidad aumentada, innovando y mejorando frecuentemente el diseño de cada uno de estos para de esta forma apoyar  el proceso de aprendizaje de los infantes menores de 7 años, contribuyendo con la sociedad en la educación.
</p>
<br><br>
<h1 class="titulo-informacion">VISIÓN</h1>
<p class = "informacion">Ser una empresa líder en el mercado nacional y regional a través del desarrollo tecnológico aplicados en la educación, mejorando la calidad de vida de nuestros infantes a través de la creación de alternativas de aprendizaje  de la lectura y con ello cumplir con la demanda de  la sociedad del futuro.
</p>
<!--
<h1 class="titulo-informacion">ORGANIGRAMA</h1>
<img src="assets/imagenes/Organigrama.JPG">
-->