<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Glendy</mat-card-title>
    <mat-card-subtitle>Paquete Completo</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <img src="assets/imagenes/Glendy contenido.jpg">
    <p>
      El paquete completo de Glendy, incluye:
    </p>
    <ul>
      <li>10 tarjetas de 12 categorías diferentes</li>
      <li>Un memorama</li>
      <li>Un adivina que dice</li>
      <li>6 tableros de serpientes y escaleras</li>
      <li>6 tableros de lotería</li>
      <li>6 cuentos</li>
      <li>8 tarjetas de oraciones</li>
      <li>2 dados</li>
      <li>90 fichas</li>
      <li>3 rompecabezas</li>
      <li>Instructivo</li>
    </ul>
  </mat-card-content>
  <div>
      <span class="example-spacer"></span>
      <mat-card-actions>
          <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $1339.00</button>
        </mat-card-actions>
  </div>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Memorama Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/memorama.jpg">
      <p>
        El repuesto de memorama Glendy incluye:
      </p>
      <ul>
        <li>Un memorama con más de 20 tarjetas</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $222.00</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Serpientes y Escaleras Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/serpientes.jpg">
      <p>
        El repuesto Serpientes y Escaleras de Glendy incluye:
      </p>
      <ul>
        <li>6 tableros de serpientes y escaleras</li>
        <li>18 fichas de colores</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $131.00</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Lotería Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/Loteria.jpg">
      <p>
        El repuesto Lotería de Glendy incluye:
      </p>
      <ul>
        <li>6 tableros de lotería</li>
        <li>36 fichas de colores</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $131.00</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Oraciones Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/oraciones.jpg">
      <p>
        El repuesto Oraciones de Glendy incluye:
      </p>
      <ul>
        <li>10 tarjetas de oraciones de Glendy</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $80.00</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cuentos Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/cuentos.jpg">
      <p>
        El repuesto Cuentos de Glendy incluye:
      </p>
      <ul>
        <li>6 cuentos de Glendy</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $144.00</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Adivina ¿Qué dice? Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/adivina.jpg">
      <p>
        El repuesto Adivina ¿Qué dice? de Glendy incluye:
      </p>
      <ul>
        <li>10 tarjetas de Adivina ¿Qué dice?</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $118.00</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tarjetas Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/tarjetas.jpg">
      <p>
        El repuesto Tarjetas de Glendy incluye:
      </p>
      <ul>
        <li>10 tarjetas de Útiles Escolares</li>
        <li>10 tarjetas de Animales</li>
        <li>10 tarjetas de Frutas</li>
        <li>10 tarjetas de Verduras</li>
        <li>10 tarjetas de Figuras Geométricas</li>
        <li>10 tarjetas de Partes del Cuerpo</li>
        <li>10 tarjetas de Medios de Transporte</li>
        <li>10 tarjetas de Astronomía</li>
        <li>10 tarjetas de Familia</li>
        <li>10 tarjetas de Colores</li>
        <li>10 tarjetas de Comida</li>
        <li>10 tarjetas de Números</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $300.00</button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rompecabezas Glendy</mat-card-title>
      <mat-card-subtitle>Repuesto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/imagenes/rompecabezas.jpg">
      <p>
        El repuesto Rompecabezas de Glendy incluye:
      </p>
      <ul>
        <li>3 Rompecabezas</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="texto-boton" ><img src="assets/imagenes/paypal4.png"> $108.00</button>
    </mat-card-actions>
</mat-card>