.container{
  display: flex;
  flex-direction: column;
}

.separador{
  width: 50%;
}
.img{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.img img{
  width: 40%;
  height: 100%;
  margin: 0 auto;
}

.imagen *{
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

.separador{
  height: 10px;
}

.example-header-image {
  background-image: url("./logo.jpg");
  background-size: cover;
}

mat-card-content{
  font-size: 1em;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-icon {
  font-size: 2.2em !important;
}


.align-right{
  float: right;
}